@model Search.GitHub.Models.UserSearchRequest
@{
    ViewBag.Title = "Search GitHub";
}
<div class="row">
   @using (Html.BeginForm())
   {
       <div class="form-horizontal" role="form">
           <div class="form-group">
               @Html.LabelFor(m => m.Name, new { @class = "control-label" })
               @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
           </div>
           <div class="form-group">
               <button type="submit" class="btn btn-primary">Search</button>
           </div>
       </div>
   }
</div>
<div class="row">
    <div class="col-sm-6">
        @if (IsPost)
        {
            if (!string.IsNullOrWhiteSpace(Model.User.Username))
            {
                <p>
                    <img src="@Model.User.AvatarUrl" alt="Avatar" class="img-thumbnail" height="80" width="80"/>
                    <strong>@Model.User.Username</strong> <span class="badge">@Model.User.Location</span>
                </p>
            <hr/>
                if (Model.User.Repos != null && Model.User.Repos.Any())
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th colspan="2">@Model.User.Username's top 5 repos with the highest number of stargazers</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var repo in Model.User.Repos.OrderByDescending(x => x.StargazersCount).Take(5))
                            {
                                <tr>
                                    <td>
                                        <a href="@repo.HtmlUrl" target="_blank">@repo.Name</a>
                                        <br/>
                                        <small>@repo.Description</small>
                                    </td>
                                    <td>@repo.StargazersCount</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No repos found.</p>
                }
            }
            else
            {
                <p>User not found.</p>
            }
        }
    </div>
</div>